footer {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    color: #fff;
    height: 200px;
    position: relative;
    width: 100%;
    text-align: center;
}

footer div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer div img {
    width: 70px;
    height: 70px;
    margin: 0px 20px;
    border-radius: 50%;
}

.facebook:hover {
    background-color: #2b5297;
}

.youtube:hover {
    background-color: #c30000;
}

.telegram:hover {
    background-color: #17baf5;
}

.snapchat:hover {
    background-color: #fdfd03;
}