header {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    color: #fff;
    height: 400px;
    position: relative;
    width: 100%;
}

header nav h3 {
    float: left;
    position: relative;
    top: -15px;
    margin-left: 15px;
}

header nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;
}

header nav .el {
    display: inline-block;
    padding: 3px 0px;
    margin: 17px 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
}

header nav .el:hover {
    border-bottom: 2px solid #fff;
}

header .os {
    position: absolute;               
    top: 50%; 
    left: 50%;                        
    transform: translate(-50%, -50%)
}

header .os h1{
    /* padding-top: 13%; */
    margin: 0px;
    margin-bottom: 10px;
}

header .os div {
    width: 60%;
    height: 2px;
    background-color: #fff;
}

header .os p {
    padding-top: 20px;
    margin: 0px;
}