main {
    text-align: left;
}

h2 {
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 30px;
    margin-left: 5%;
}

article {
    text-align: left;
    padding-top: 1%;
}

p {
    margin: 30px 0px;
}

article div div img {
    width: 100%;
}

article div div:hover {
    background-color: #d2e4f5;
}

article div div {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

article div .big_img {
    width: 100%;
    padding: 0px;
}

article div .big_img img {
    width: 100%;
}

article div {
    text-align: center;
    vertical-align: top;
    background-color: rgb(93 116 131);
    padding: 20px 10px;
}

article div div p {
    margin: 20px 0px;
    opacity: 0;
}

article div div:hover p {
    opacity: 1;
}

article a {
    font-style: italic;
    font-weight: 900;
    color: rgb(47, 87, 125);
}

article a:hover {
    color: rgb(16, 46, 75);
}

@media (max-width: 1100px) and (min-width: 900px) {
    article div div {
        width: 45%;
    }
}

@media (max-width: 900px) {
    article div div {
        width: 70%;
    }
}

